{
	auto_https off
	http_port 80
	https_port 443
}

:80 {
	route /abc/* {
		uri replace /abc/ /
		opentracing {
			service_name hello
			reporter {
				local_agent_host_port 139.198.104.240:6831
                queue_size 1
			}
		}
		reverse_proxy https://baidu.com
	}
	# curl localhost:80/abc/pub/example/imap-console-client.png
}
